html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(178, 139, 188);
  font-family: "Henny Penny", system-ui;
}

.header__box {
  display: flex;
  height: 700px;
  align-items: center;
  margin-top: 100px;
}

.header__box .inner {
  width: 400px;
  height: 200px;
  line-height: 200px;
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
}

.header__box .inner:first-child {
  background-color: rgb(23, 2, 53);
  color: rgb(230, 226, 235);
  transform-origin: right;
  transform: perspective(100px) rotateY(-15deg);
}

.header__box .inner:last-child {
  background-color: rgb(174, 128, 195);
  color: antiquewhite;
  transform-origin: left;
  transform: perspective(100px) rotateY(15deg);
}

.header__box .inner span {
  position: absolute;
  animation: marquee 5s linear infinite;
}

.header__box .inner:first-child span {
  animation-delay: 2.5s;
  left: -100%;
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

.navigation {
  margin-top: 100px;
  line-height: 40px;
}

li {
  text-decoration: none;
  font-size: 14px;
}
